.app {
  position: absolute;
  inset: 0;
  overflow: auto;
  background: var(--background);
}

.loader {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 20px;
  color: var(--text);
  font-size: 16px;

  & loading-spinner {
    --size: 96px;
    --stroke-width: 12px;
  }
}
