:root {
  color-scheme: light;
  --background: #f7f4f8;
  --surface: #fff;
  --text: #322b35;
  --muted: #6e6571;
  --accent: #bb1b61;
  --accent-text: #a01957;
  --border: #d9cfd7;
  --border-accent: #d7a9bd;
  --tint: #f4dbe6;
  --error: #b3261e;
}
:root[data-theme='dark'] {
  color-scheme: dark;
  --background: #17141b;
  --surface: #24202a;
  --text: #f4edf6;
  --muted: #bbb0c1;
  --accent: #bd2466;
  --accent-text: #ff9bc5;
  --border: #54485b;
  --border-accent: #975b79;
  --tint: #422539;
  --error: #ffaba4;
}
button,
a,
img,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
img,
[inert],
.inert {
  user-select: none;
  -webkit-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  touch-callout: none;
  -webkit-touch-callout: none;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 12px/1.3 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  overflow: hidden;
  overscroll-behavior: none;
  contain: strict;
  color: var(--text);
  background-color: var(--background);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".025"/></svg>');
  background-size: 20px 20px;
}

:global(#app) {
  position: absolute;
  left: 0;
  top: 0;
  contain: strict;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
